<nav class="navbar navbar-expand-lg bg-info">
  <div class="container">
    <a class="navbar-brand" href="#">S.OnlineShop</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/cart">Cart</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/orders">Orders</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/admin/addproduct"
            >Add Product</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/admin/mangeproducts"
            >M.Products</a
          >
        </li>
      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <% if(!isAuth){ %> 
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/signin">SignIn</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/signup">SignUp</a>
        </li>
        <% }else{ %> 
        <li class="nav-item">
          <a class="nav-link btn btn-danger text-white" aria-current="page" href="/logout">Logout</a>
        </li>
        <% } %> 
      </ul>
    </div>
  </div>
</nav>
