<div class="container">
  <h3>Add Product</h3>
  <hr />
  <form action="/admin/saveproduct" method="post" class="w-75">
    <!-- product name -->
    <div class="form-floating mb-3">
      <input
        name="name"
        type="text"
        class="form-control"
        id="floatingProductNameInput"
        placeholder="T-Shirt"
      />
      <label for="floatingProductNameInput">Product Name</label>
    </div>
    <!-- product price -->
    <div class="form-floating mb-3">
      <input
        name="price"
        type="number"
        class="form-control"
        id="floatingProductPriceInput"
        placeholder="179.9"
      />
      <label for="floatingProductPriceInput">Product Price</label>
    </div>
    <!-- product category -->
    <div class="form-floating mb-3">
      <select
        name="category"
        class="form-select"
        id="floatingSelectCategory"
        aria-label="Select Product Category"
      >
        <option value="clothes">Clothes</option>
        <option value="phones">Phones</option>
        <option value="computers">Computers</option>
      </select>
      <label for="floatingSelectCategory">Select Product Category</label>
    </div>
    <!-- product description -->
    <div class="form-floating mb-3">
      <textarea
        name="description"
        class="form-control"
        placeholder="write product description"
        id="floatingTextarea"
      ></textarea>
      <label for="floatingTextarea">Product Description</label>
    </div>
    <input type="hidden" name="image" value="t-shirt.jpg" />
    <button type="submit" class="btn btn-primary">Add Product</button>
  </form>
</div>
